/* ::::: http://leanprojectman.com/php/d7/modules/system/system.base.css?m3ixna ::::: */

.container-inline div, .container-inline label { display: inline; }
.element-invisible { position: absolute ! important; clip: rect(1px, 1px, 1px, 1px); overflow: hidden; height: 1px; }
.clearfix:after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
:first-child + html .clearfix { min-height: 1%; }
/* ::::: http://leanprojectman.com/php/d7/modules/system/system.menus.css?m3ixna ::::: */

ul.menu { border: medium none; list-style: none outside none; text-align: left; }
ul.menu li { margin: 0px 0px 0px 0.5em; }
ul li.collapsed { list-style-image: url('menu-collapsed.png'); list-style-type: disc; }
ul li.leaf { list-style-image: url('menu-leaf.png'); list-style-type: square; }
li.expanded, li.collapsed, li.leaf { padding: 0.2em 0.5em 0px 0px; margin: 0px; }
li a.active { color: rgb(0, 0, 0); }
ul.inline, ul.links.inline { display: inline; padding-left: 0px; }
ul.inline li { display: inline; list-style-type: none; padding: 0px 0.5em; }
.breadcrumb { padding-bottom: 0.5em; }
/* ::::: http://leanprojectman.com/php/d7/modules/system/system.messages.css?m3ixna ::::: */

/* ::::: http://leanprojectman.com/php/d7/modules/system/system.theme.css?m3ixna ::::: */

form { margin: 0px; padding: 0px; }
img { border: 0px none; }
table { border-collapse: collapse; }
tbody { border-top: 1px solid rgb(204, 204, 204); }
.form-item, .form-actions { margin-top: 1em; margin-bottom: 1em; }
label { display: block; font-weight: bold; }
.container-inline .form-actions, .container-inline.form-actions { margin-top: 0px; margin-bottom: 0px; }
/* ::::: http://leanprojectman.com/php/d7/misc/ui/jquery.ui.core.css?m3ixna ::::: */

/* ::::: http://leanprojectman.com/php/d7/misc/ui/jquery.ui.theme.css?m3ixna ::::: */

/* ::::: http://leanprojectman.com/php/d7/modules/overlay/overlay-parent.css?m3ixna ::::: */

#overlay-disable-message { display: none; }
/* ::::: http://leanprojectman.com/php/d7/modules/contextual/contextual.css?m3ixna ::::: */

.contextual-links-region { outline: medium none; position: relative; }
div.contextual-links-wrapper { display: none; font-size: 90%; position: absolute; right: 5px; top: 2px; z-index: 999; }
html.js div.contextual-links-wrapper { display: block; }
a.contextual-links-trigger { background: url('gear-select.png') no-repeat scroll 2px 0px transparent; border: 1px solid transparent; display: none; height: 18px; margin: 0px; padding: 0px 2px; outline: medium none; text-indent: 34px; width: 28px; overflow: hidden; border-radius: 4px 4px 4px 4px; }
a.contextual-links-trigger:hover, div.contextual-links-active a.contextual-links-trigger { background-position: 2px -18px; }
div.contextual-links-wrapper ul.contextual-links { background-color: rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); display: none; margin: 0px; padding: 0.25em 0px; position: absolute; right: 0px; text-align: left; top: 18px; white-space: nowrap; border-radius: 4px 0px 4px 4px; }
.contextual-links-region:hover a.contextual-links-trigger, div.contextual-links-active a.contextual-links-trigger, div.contextual-links-active ul.contextual-links { display: block; }
ul.contextual-links li { line-height: 100%; list-style: none outside none; margin: 0px; padding: 0px; }
div.contextual-links-wrapper a { text-decoration: none; }
ul.contextual-links li a { color: rgb(51, 51, 51) ! important; display: block; margin: 0.25em 0px; padding: 0.25em 1em 0.25em 0.5em; }
ul.contextual-links li a:hover { background-color: rgb(191, 220, 238); }
/* ::::: http://leanprojectman.com/php/d7/modules/book/book.css?m3ixna ::::: */

/* ::::: http://leanprojectman.com/php/d7/modules/comment/comment.css?m3ixna ::::: */

/* ::::: http://leanprojectman.com/php/d7/modules/field/theme/field.css?m3ixna ::::: */

/* ::::: http://leanprojectman.com/php/d7/modules/node/node.css?m3ixna ::::: */

/* ::::: http://leanprojectman.com/php/d7/modules/search/search.css?m3ixna ::::: */

/* ::::: http://leanprojectman.com/php/d7/modules/user/user.css?m3ixna ::::: */

/* ::::: http://leanprojectman.com/php/d7/sites/all/modules/ctools/css/ctools.css?m3ixna ::::: */

/* ::::: http://leanprojectman.com/php/d7/modules/shortcut/shortcut.css?m3ixna ::::: */

div#toolbar a#edit-shortcuts { float: right; padding: 5px 10px 5px 5px; line-height: 24px; color: rgb(254, 254, 254); }
div#toolbar a#edit-shortcuts:focus, div#toolbar a#edit-shortcuts:hover, div#toolbar a#edit-shortcuts.active { color: rgb(255, 255, 255); text-decoration: underline; }
div#toolbar div.toolbar-shortcuts ul { padding: 5px 0px 2px; height: 28px; line-height: 24px; float: left; margin-left: 5px; }
div#toolbar div.toolbar-shortcuts ul li a { padding: 0px 5px; margin-right: 5px; border-radius: 5px 5px 5px 5px; }
div#toolbar div.toolbar-shortcuts ul li a:focus, div#toolbar div.toolbar-shortcuts ul li a:hover, div#toolbar div.toolbar-shortcuts ul li a.active:focus { background: none repeat scroll 0% 0% rgb(85, 85, 85); }
/* ::::: http://leanprojectman.com/php/d7/modules/toolbar/toolbar.css?m3ixna ::::: */

body.toolbar { padding-top: 2.2em; }
body.toolbar-drawer { padding-top: 5.3em; }
#toolbar, #toolbar * { border: 0px none; font-size: 100%; line-height: inherit; list-style: none outside none; margin: 0px; outline: 0px none; padding: 0px; text-align: left; vertical-align: baseline; }
#toolbar { background: none repeat scroll 0% 0% rgb(102, 102, 102); color: rgb(204, 204, 204); font: small "Lucida Grande",Verdana,sans-serif; left: 0px; margin: 0px -20px; padding: 0px 20px; position: fixed; right: 0px; top: 0px; box-shadow: 0px 3px 20px rgb(0, 0, 0); z-index: 600; }
#toolbar a { color: rgb(255, 255, 255); font-size: 0.846em; text-decoration: none; }
#toolbar ul li, #toolbar ul li a { float: left; }
#toolbar div.toolbar-menu { background: none repeat scroll 0% 0% rgb(0, 0, 0); line-height: 20px; padding: 5px 50px 5px 10px; position: relative; }
#toolbar-home a span { background: url('toolbar.png') no-repeat scroll 0px -45px transparent; display: block; height: 14px; margin: 3px 0px; text-indent: -9999px; vertical-align: text-bottom; width: 11px; }
#toolbar-user { float: right; }
#toolbar-menu { float: left; }
#toolbar div.toolbar-menu a.toggle { background: url('toolbar.png') no-repeat scroll 0px -20px transparent; bottom: 0px; cursor: pointer; height: 25px; overflow: hidden; position: absolute; right: 10px; text-indent: -9999px; width: 25px; }
#toolbar div.toolbar-menu a.toggle:focus, #toolbar div.toolbar-menu a.toggle:hover { background-position: -50px -20px; }
#toolbar div.toolbar-menu a.toggle-active { background-position: -25px -20px; }
#toolbar div.toolbar-menu a.toggle-active.toggle:focus, #toolbar div.toolbar-menu a.toggle-active.toggle:hover { background-position: -75px -20px; }
#toolbar div.toolbar-menu ul li a { padding: 0px 10px; border-radius: 10px 10px 10px 10px; }
#toolbar div.toolbar-menu ul li a:focus, #toolbar div.toolbar-menu ul li a:hover, #toolbar div.toolbar-menu ul li a:active, #toolbar div.toolbar-menu ul li a.active:focus { background: none repeat scroll 0% 0% rgb(68, 68, 68); }
#toolbar div.toolbar-menu ul li a.active:hover, #toolbar div.toolbar-menu ul li a.active:active, #toolbar div.toolbar-menu ul li a.active, #toolbar div.toolbar-menu ul li.active-trail a { background: url('toolbar.png') repeat-x scroll 0px 0px transparent; text-shadow: 0px 1px 0px rgb(51, 51, 51); }
#toolbar div.toolbar-drawer { position: relative; padding: 0px 10px; }
/* ::::: http://leanprojectman.com/php/d7/sites/all/themes/touch/style.css?m3ixna ::::: */

/* ::::: http://fonts.googleapis.com/css?family=Ubuntu+Condensed ::::: */

@font-face {
	font-family: "Ubuntu Condensed";
	font-style: normal;
	font-weight: 400;
	src: local("Ubuntu Condensed"), local("UbuntuCondensed-Regular"), url('dbct-nxn57mtafjityxdrfzqcfrpia3w6ypxnpiscpa.woff') format("woff");
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0px; padding: 0px; border: 0px none; outline: 0px none; font-size: 100%; vertical-align: baseline; background: none repeat scroll 0% 0% transparent; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { background: none repeat scroll 0% 0% rgb(232, 232, 232); color: rgb(50, 50, 50); font-family: Lucida Grande,Verdana,Arial,sans-serif; font-size: 12px; line-height: 18px; width: 980px; margin: 0px auto; padding: 0px; }
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-weight: normal; margin-top: 0.4em; }
h2, .h2 { font-size: 1.5385em; line-height: 2; margin-top: 1em; }
h3, .h3 { font-size: 1.2308em; line-height: 1.25; }
p { font-size: 1em; line-height: 1.5385; margin: 0px 0px 1.4em; }
p a:link {  }
a, a:link, a:visited { color: rgb(34, 98, 164); outline: medium none; text-decoration: none; }
a:focus { outline: 1px dotted; }
a:hover, a:active { color: rgb(0, 128, 170); outline: medium none; }
img, img a { border: 0px none; }
ul, ol { margin: 0px 1.6em 1.6em 0px; padding-left: 1.6em; }
ul { list-style-type: disc; }
table { border-collapse: collapse; border-spacing: 0px; margin-bottom: 15px; width: 100%; }
th, tr, td { vertical-align: middle; }
.clear { clear: both; }
#wrapper { margin: 0px auto; padding: 0px; width: 980px; }
#header-top { margin: 0px auto; padding: 0px; width: 980px; }
#header-top #logo { float: left; width: 600px; margin-top: 5px; }
#header-top #site-slogan { margin: 0px; color: rgb(149, 149, 149); font-size: 200%; text-shadow: 1px 1px rgb(255, 255, 255); }
#header-social { float: right; padding: 0px; margin-top: 23px; }
#header-social li { float: left; list-style: none outside none; display: inline; margin-right: 10px; }
#header-top .search-box { float: right; padding: 0px; margin: 22px 0px 0px; }
#header { margin-top: 1px; }
#main-menu { width: 980px; clear: both; background: none repeat scroll 0% 0% rgb(62, 62, 62); height: 40px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 24px; font-weight: bold; border-radius: 4px 4px 4px 4px; text-transform: uppercase; position: relative; }
#main-menu a { display: block; color: rgb(202, 202, 202); }
#main-menu ul, #main-menu ul li, #main-menu ul ul { list-style: none outside none; margin: 0px; padding: 0px; }
#main-menu ul { z-index: 597; float: left; }
#main-menu ul li { float: left; vertical-align: middle; list-style-image: none ! important; }
#main-menu ul li a { padding: 10px 14px; }
#main-menu ul li.hover, #main-menu ul li:hover { position: relative; z-index: 599; cursor: default; }
#main-menu ul a:link, #main-menu ul a:visited { color: rgb(202, 202, 202); text-decoration: none; }
#main-menu ul a:hover, #main-menu ul a.active, #main-menu ul li.active-trail a { color: rgb(255, 255, 255); }
#main-menu ul li:hover, #main-menu ul li.active-trail {  }
.breadcrumb { font-size: 10px; }
.node {  }
.node-teaser { margin-bottom: 40px; margin-right: 20px; float: left; width: 460px; height: 600px; }
#content-body { background: none repeat scroll 0% 0% rgb(244, 244, 244); width: 960px; padding: 0px 10px; float: left; margin-top: 8px; border-radius: 7px 7px 7px 7px; border: 1px solid rgb(219, 219, 219); }
#main { display: inline; margin: 0px; }
body.sidebar-first #main { float: right; margin: 0px; padding: 0px; width: 720px; }
#sidebar-first h2, #sidebar-second h2 { font-family: 'Ubuntu Condensed',sans-serif; }
#sidebar-first a, #sidebar-second a { color: rgb(99, 99, 99); }
#sidebar-first a:hover, #sidebar-second a:hover { color: rgb(0, 128, 170); }
#sidebar-first .block, #sidebar-second .block { background: none repeat scroll 0% 0% rgb(237, 237, 238); border-radius: 5px 5px 5px 5px; padding: 0px 0px 4px 6px; }
#sidebar-first ul, #sidebar-second ul { margin: 0px; padding: 0px; }
#sidebar-first li, #sidebar-second li { list-style: none outside none; background: url('sidebar-arrow.png') no-repeat scroll left center transparent; border-bottom: 1px dotted rgb(212, 210, 210); padding: 4px 0px 4px 17px; }
body.sidebar-first #sidebar-first { float: left; margin: 0px; padding: 0px; width: 220px; }
.title { font-family: 'Ubuntu Condensed',sans-serif; color: rgb(0, 0, 0); }
.title a { color: rgb(0, 0, 0); }
h2.title a { font-size: 18px; margin: 5px 0px; font-weight: normal; }
#main .content { color: rgb(51, 51, 51); font-size: 120%; }
#main .content p { line-height: 20px; }
#main .content h2 { font-size: 140%; line-height: 1.2; margin: 8px 0px 5px; font-family: 'Ubuntu Condensed',sans-serif; color: rgb(34, 34, 34); }
.links { color: rgb(0, 0, 0); margin-top: 10px; font-size: 10px; }
.links li a { background: none repeat scroll 0% 0% rgb(211, 209, 209); padding: 4px 5px; border-radius: 4px 4px 4px 4px; color: rgb(56, 56, 56); text-shadow: 1px 1px rgb(255, 255, 255); font-weight: normal; }
.links li a:hover { color: rgb(20, 81, 173); }
.form-submit { border-radius: 5px 5px 5px 5px; cursor: pointer; background: none repeat scroll 0% 0% rgb(87, 87, 87); border: 1px solid rgb(0, 0, 0); color: rgb(255, 255, 255); padding: 4px 6px; margin-right: 4px; margin-bottom: 5px; }
.form-submit:hover { background: none repeat scroll 0% 0% rgb(69, 68, 68); }
.form-text { border-radius: 3px 3px 3px 3px; border: 1px solid rgb(172, 172, 172); color: rgb(148, 148, 148); padding: 4px 5px; }
ul.menu li { margin: 0px; padding: 0px; }
ul.inline { clear: both; }
ul.inline li { margin: 0px; padding: 0px; }
#main .field-items .field-item {  }
.block { margin-bottom: 1.5385em; }
.block p { margin-bottom: 2px; }
#footer { clear: both; width: 980px; color: rgb(68, 68, 68); text-shadow: 1px 1px rgb(255, 255, 255); }
#footer a { color: rgb(103, 103, 103); text-decoration: none; }
#footer a:hover { color: rgb(0, 0, 0); text-decoration: none; }
#footer h2 { color: rgb(0, 0, 0); font-family: 'Ubuntu Condensed',sans-serif; font-weight: bold; }
#footer ul { margin: 0px; padding: 0px; }
#footer li { list-style: none outside none; background: url('sidebar-arrow.png') no-repeat scroll left center transparent; border-bottom: 1px dotted rgb(70, 70, 70); padding: 4px 0px 4px 17px; }
#copyright { border-top: 1px dashed rgb(101, 101, 101); padding-top: 4px; color: rgb(148, 148, 148); margin-bottom: 10px; }
.backtotop { background: url('goup.png') no-repeat scroll 0% 0% transparent; width: 53px; height: 53px; }
#li_ui_li_gen_1408753164692_0 { position: relative ! important; overflow: visible ! important; display: block ! important; }
#li_ui_li_gen_1408753164692_0 span { -moz-box-sizing: content-box ! important; }
#li_ui_li_gen_1408753164692_0 a#li_ui_li_gen_1408753164692_0-link { border: 0px none ! important; height: 20px ! important; text-decoration: none ! important; padding: 0px ! important; margin: 0px ! important; display: inline-block ! important; }
#li_ui_li_gen_1408753164692_0 a#li_ui_li_gen_1408753164692_0-link:link, #li_ui_li_gen_1408753164692_0 a#li_ui_li_gen_1408753164692_0-link:visited, #li_ui_li_gen_1408753164692_0 a#li_ui_li_gen_1408753164692_0-link:hover, #li_ui_li_gen_1408753164692_0 a#li_ui_li_gen_1408753164692_0-link:active { border: 0px none ! important; text-decoration: none ! important; }
#li_ui_li_gen_1408753164692_0 a#li_ui_li_gen_1408753164692_0-link:after { content: "." ! important; display: block ! important; clear: both ! important; visibility: hidden ! important; line-height: 0 ! important; height: 0px ! important; }
#li_ui_li_gen_1408753164692_0 #li_ui_li_gen_1408753164692_0-logo { background-image: url('sprite_connect_v14.png') ! important; background-position: 0px -276px ! important; background-repeat: no-repeat ! important; cursor: pointer ! important; border: 0px none ! important; text-indent: -9999em ! important; overflow: hidden ! important; padding: 0px ! important; margin: 0px ! important; position: absolute ! important; left: 0px ! important; top: 0px ! important; display: block ! important; width: 20px ! important; height: 20px ! important; float: right ! important; border-radius: 0px 2px 2px 0px ! important; }
#li_ui_li_gen_1408753164692_0 #li_ui_li_gen_1408753164692_0-title { color: rgb(51, 51, 51) ! important; cursor: pointer ! important; display: block ! important; white-space: nowrap ! important; float: left ! important; margin-left: 1px ! important; vertical-align: top ! important; overflow: hidden ! important; text-align: center ! important; height: 18px ! important; padding: 0px 4px 0px 23px ! important; border-width: 1px 1px 1px 0px ! important; border-style: solid solid solid none ! important; -moz-border-top-colors: none ! important; -moz-border-right-colors: none ! important; -moz-border-bottom-colors: none ! important; -moz-border-left-colors: none ! important; -moz-border-image: none ! important; border-color: rgb(226, 226, 226) rgb(191, 191, 191) rgb(185, 185, 185) -moz-use-text-color ! important; text-shadow: -1px 1px 0px rgb(255, 255, 255) ! important; line-height: 20px ! important; border-radius: 0px 2px 2px 0px ! important; background-color: rgb(236, 236, 236) ! important; background-image: -moz-linear-gradient(center top , rgb(254, 254, 254) 0%, rgb(236, 236, 236) 100%) ! important; }
#li_ui_li_gen_1408753164692_0 #li_ui_li_gen_1408753164692_0-title-text, #li_ui_li_gen_1408753164692_0 #li_ui_li_gen_1408753164692_0-title-text * { color: rgb(51, 51, 51) ! important; font-size: 11px ! important; font-family: Arial,sans-serif ! important; font-weight: bold ! important; font-style: normal ! important; display: inline-block ! important; background: none repeat scroll 0% 0% transparent ! important; vertical-align: top ! important; height: 18px ! important; line-height: 20px ! important; float: none ! important; }
#li_ui_li_gen_1408753164692_0 #li_ui_li_gen_1408753164692_0-title #li_ui_li_gen_1408753164692_0-mark { display: inline-block ! important; width: 0px ! important; overflow: hidden ! important; }
#li_ui_li_gen_1408753164703_1-container.IN-right { display: inline-block ! important; float: left ! important; overflow: visible ! important; position: relative ! important; height: 18px ! important; padding-left: 2px ! important; line-height: 1px ! important; cursor: pointer ! important; }
#li_ui_li_gen_1408753164703_1.IN-right { display: block ! important; float: left ! important; height: 18px ! important; margin-right: 4px ! important; padding-right: 4px ! important; background-image: url('sprite_connect_v14.png') ! important; background-color: transparent ! important; background-repeat: no-repeat ! important; background-position: right -100px ! important; }
#li_ui_li_gen_1408753164703_1-inner.IN-right { display: block ! important; float: left ! important; padding-left: 8px ! important; text-align: center ! important; background-image: url('sprite_connect_v14.png') ! important; background-color: transparent ! important; background-repeat: no-repeat ! important; background-position: 0px -60px ! important; }
#li_ui_li_gen_1408753164703_1-content.IN-right { display: inline ! important; font-size: 11px ! important; color: rgb(4, 85, 139) ! important; font-weight: bold ! important; font-family: Arial,sans-serif ! important; line-height: 18px ! important; padding: 0px 5px ! important; }
