/* ::::: https://abs.twimg.com/a/1408666496/css/t1/twitter_gotham_core.bundle.css ::::: */

html { font-family: sans-serif; }
body { margin: 0px; }
audio:not([controls]) { display: none; height: 0px; }
a { background: none repeat scroll 0% 0% transparent; }
a:active, a:hover { outline: 0px none; }
b, strong { font-weight: bold; }
small { font-size: 80%; }
img { border: 0px none; }
svg:not(:root) { overflow: hidden; }
hr { -moz-box-sizing: content-box; height: 0px; }
button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0px; }
button { overflow: visible; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
button[disabled], html input[disabled] { cursor: default; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
input { line-height: normal; }
input[type="checkbox"], input[type="radio"] { -moz-box-sizing: border-box; padding: 0px; }
fieldset { border: 1px solid rgb(192, 192, 192); margin: 0px 2px; padding: 0.35em 0.625em 0.75em; }
legend { border: 0px none; padding: 0px; }
textarea { overflow: auto; }
table { border-collapse: collapse; border-spacing: 0px; }
td, th { padding: 0px; }
body { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }
body.ms-windows { font-family: Arial,sans-serif; }
body { background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(41, 47, 51); font-size: 14px; line-height: 18px; overflow-y: scroll; }
a { color: rgb(43, 123, 185); text-decoration: none; }
a:hover, a:focus, a:active { text-decoration: underline; }
blockquote, dl, dd, h1, h2, h3, h4, h5, h6, figure, p, pre { margin: 0px; }
button { background: none repeat scroll 0% 0% transparent; border: 0px none; padding: 0px; }
button:focus { outline: 1px dotted; }
fieldset { border: 0px none; margin: 0px; padding: 0px; }
iframe { border: 0px none; }
ol, ul { margin: 0px; list-style: none outside none; padding: 0px; }
li { text-align: inherit; }
[tabindex="-1"]:focus { outline: medium none ! important; }
a:focus { outline: 0px none; }
a:focus > img:first-child:last-child { outline: 1px dotted rgb(102, 102, 102); }
h1, h2, h3, h4, h5, h6 { text-rendering: optimizelegibility; }
h2 { color: rgb(102, 117, 127); font-size: 22px; font-weight: 300; line-height: 22px; }
h3 { color: rgb(102, 117, 127); font-size: 20px; font-weight: 300; line-height: 22px; }
small { font-size: 12px; }
ol { list-style: decimal outside none; margin-left: 20px; }
hr { border-right: 0px none; border-width: 1px 0px 0px; border-style: solid none none; border-color: rgb(238, 238, 238) -moz-use-text-color -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; height: 0px; margin: 14px 0px 0px; padding: 0px; }
.u-hiddenVisually { position: absolute ! important; overflow: hidden ! important; width: 1px ! important; height: 1px ! important; padding: 0px ! important; border: 0px none ! important; clip: rect(1px, 1px, 1px, 1px) ! important; }
.u-cf:before, .u-cf:after { content: " "; display: table; }
.u-cf:after { clear: both; }
@media screen and (min-width: 1236px) {
}
.u-textBreak { word-wrap: break-word ! important; }
.u-textCenter { text-align: center ! important; }
@font-face {
	font-family: "rosettaicons";
	font-style: normal;
	font-weight: normal;
	src: url('rosetta-icons-regular.eot') format("embedded-opentype"), url('rosetta-icons-regular.woff') format("woff"), url('rosetta-icons-regular.ttf') format("truetype");
}
.Icon { background: none repeat scroll 0% 0% transparent; display: inline-block; font-style: normal; vertical-align: baseline; }
.Icon:before { display: block; font-family: "rosettaicons"; font-weight: normal; font-style: normal; text-align: center; }
.Icon--small { font-size: 16px; line-height: 15px; }
.Icon--medium { font-size: 18px; line-height: 18px; }
.Icon--large { font-size: 21px; line-height: 1; }
.Icon--bird:before { content: ""; }
.Icon--caretLeft:before { content: ""; }
.Icon--caretRight:before { content: ""; }
.Icon--close:before { content: ""; }
.Icon--dots:before { content: ""; }
.Icon--logo:before { content: ""; }
.Icon--search:before { content: ""; }
.Icon--unfollow:before { content: ""; }
.Icon--verified:before { content: ""; }
.Icon--verified { color: rgb(136, 201, 249); }
button { border: 0px none; }
.btn { background-color: rgb(204, 214, 221); background-repeat: no-repeat; border: 1px solid rgb(225, 232, 237); border-radius: 4px 4px 4px 4px; color: rgb(102, 117, 127); cursor: pointer; display: inline-block; font-size: 14px; font-weight: bold; line-height: normal; padding: 8px 16px; position: relative; }
.btn.focus, .btn:focus, .btn:active, .Button:focus { outline: 0px none ! important; }
.btn { background-color: rgb(245, 248, 250); }
.btn:focus, .btn.focus { background: none repeat scroll 0% 0% rgb(255, 255, 255); border-color: rgb(255, 255, 255); text-decoration: none; }
.btn:hover, .follow-combo.open .btn-user-actions, .dropdown.open .user-dropdown { color: rgb(41, 47, 51); text-decoration: none; background-color: rgb(225, 232, 237); border-color: rgb(225, 232, 237); }
.btn.active, .btn:active, .follow-combo.open .btn-user-actions, .dropdown.open .user-dropdown, .btn.open, .open > .btn { color: rgb(41, 47, 51); background: none repeat scroll 0% 0% rgb(225, 232, 237); border-color: rgb(204, 214, 221); box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2) inset; }
.primary-btn, .following.first-hover .follow-btn:hover, .following .follow-btn, .following .follow-button.cancel-hover-style:hover, .following .follow-button, .email-following .email-follow-button.cancel-hover-style:hover, .email-following .email-follow-button, .notifying .device-follow-button, .button-group-item .content.selected { color: rgb(255, 255, 255); background-color: rgb(85, 172, 238); border: 1px solid rgb(59, 136, 195); box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1) inset; }
.primary-btn:hover, .primary-btn:focus { color: rgb(255, 255, 255); }
.primary-btn:focus, .primary-btn.focus, .following .follow-btn:focus, .following .follow-button:focus, .email-following .email-follow-button:focus, .notifying .device-follow-button:focus, .button-group-item .content.selected:focus { background: none repeat scroll 0% 0% rgb(85, 172, 238); border-color: rgb(255, 255, 255); }
.primary-btn:hover { background-color: rgb(85, 172, 238); border-color: rgb(59, 136, 195); }
.primary-btn:active { background-color: rgb(59, 136, 195); border-color: rgb(59, 136, 195); }
.plain-btn, .plain-btn:hover { background: none repeat scroll 0% 0% transparent; border-color: transparent; }
.plain-btn:hover { color: rgb(0, 132, 180); }
.plain-btn:focus, .plain-btn.focus, .plain-btn.active, .plain-btn:active, .plain-btn.open, .dropdown.open .user-dropdown.plain-btn, .open > .plain-btn { background: none repeat scroll 0% 0% transparent; border-color: rgb(255, 255, 255); box-shadow: none; color: rgb(0, 132, 180); }
.btn-group { position: relative; }
.btn-user-actions, .user-dropdown, .btn-search-actions { padding: 8px 11px 8px 10px; }
.btn-group .dropdown-menu { right: -1px; border-width: 1px; }
.btn-link { padding: 0px; background-color: transparent; background-image: none; border: 0px none; cursor: pointer; border-radius: 0px 0px 0px 0px; box-shadow: none; }
.btn-link:hover, .btn-link:focus { outline: 0px none; text-decoration: underline; box-shadow: none; }
.global-nav, .global-nav .well, .nav .active > a, .btn-tweet, .btn-tweet:hover, .btn-tweet:active, .card-soccer .cover { background-image: url('twitter_web_sprite_bgs.png'); background-repeat: repeat-x; }
.global-nav, .global-nav .well, .nav .active > a { background: none repeat scroll 0% 0% transparent; }
.icon { display: inline-block; vertical-align: text-top; background-image: url('twitter_web_sprite_icons.png'); background-position: 0px 0px; background-repeat: no-repeat; }
.close { background-position: -20px -510px; width: 9px; height: 9px; }
.nav-search, .generic-search { width: 12px; height: 14px; }
.nav-search { background-position: -20px -710px; }
.generic-search { background-position: -40px -710px; }
.search-navigation .search-checkmark { background-position: -86px -1294px; width: 20px; height: 17px; }
.dropdown { position: relative; }
.caret { display: inline-block; width: 0px; height: 0px; margin-top: 5px; margin-left: 2px; vertical-align: top; border-top: 4px solid rgb(102, 117, 127); border-left: 4px solid transparent; border-right: 4px solid transparent; }
.open.dropdown .caret, .dropdown-toggle:hover .caret, .dropdown-toggle:focus .caret { border-top-color: rgb(255, 255, 255); }
.dropdown-menu { position: absolute; top: 100%; z-index: 900; display: none; float: left; padding: 10px 0px; margin: 2px 0px 0px; background: none repeat scroll 0% 0% padding-box rgba(255, 255, 255, 0.98); border: 0px solid rgba(0, 0, 0, 0.25); border-radius: 4px 4px 4px 4px; box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25); }
.dropdown-form { padding: 15px; }
.dropdown-menu ul:focus { outline: 0px none; }
.dropdown-menu li { display: block; float: none; line-height: inherit; }
.dropdown-menu li > a, .dropdown-menu .dropdown-link { clear: both; color: rgb(102, 117, 127); cursor: pointer; display: block; font-size: 13px; font-weight: normal; float: none; line-height: 18px; margin: 0px; padding: 5px 20px; position: relative; text-shadow: none; white-space: nowrap; }
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-menu .dropdown-link:hover, .dropdown-menu .dropdown-link:focus, .dropdown-menu li:hover .dropdown-link, .dropdown-menu li:focus .dropdown-link, .dropdown-menu .typeahead-recent-search-item.selected, .dropdown-menu .typeahead-saved-search-item.selected, .dropdown-menu .selected a, .dropdown-menu .dropdown-link.selected { color: rgb(255, 255, 255); background: none repeat scroll 0% 0% rgb(59, 136, 195); text-decoration: none; }
.dropdown-menu li > a s, .dropdown-menu .dropdown-link s { color: rgb(102, 117, 127); }
.dropdown-menu li > a:hover s, .dropdown-menu li > a:focus s, .dropdown-menu .selected > a s, .dropdown-menu .dropdown-link:hover s, .dropdown-menu .dropdown-link:focus s { color: rgb(255, 255, 255); }
.dropdown-menu li button:focus { outline: 0px none; }
.dropdown-menu .dropdown-caret { position: absolute; top: -10px; left: 12px; width: 18px; height: 10px; float: left; overflow: hidden; }
.dropdown-caret.right { left: auto; right: 10px; }
.dropdown-caret .caret-outer, .dropdown-caret .caret-inner { position: absolute; top: 0px; left: 0px; display: inline-block; margin-left: -1px; }
.dropdown-caret .caret-outer { border-bottom: 10px solid rgba(0, 0, 0, 0.1); border-left: 10px solid transparent; border-right: 10px solid transparent; height: auto; left: 0px; top: 0px; width: auto; }
.dropdown-caret .caret-inner { top: 1px; left: 1px; border-left: 9px solid transparent; border-right: 9px solid transparent; border-bottom: 9px solid rgba(255, 255, 255, 0.98); }
.session .dropdown-menu, .global-nav .pull-right .dropdown-menu, .global-nav .secondary-nav .dropdown-menu { margin: 9px -7px 0px 0px; }
.typeahead { padding: 5px 0px; }
.typeahead-items li > a { padding: 7px 15px 7px 10px; font-size: 14px; }
html, body, #doc, #page-outer { height: 100%; }
.wrapper, .wrapper-narrow, .wrapper-permalink { margin: 0px auto; min-height: 0px; padding: 56px 23px 15px; position: relative; width: 890px; }
.wrapper { padding-bottom: 0px; }
.container { position: relative; width: 890px; margin: 0px auto; }
.dashboard { float: left; width: 290px; }
.content-main, .content-narrow, .page-canvas, .permalink { border-radius: 6px 6px 6px 6px; }
.content-main { float: right; width: 590px; }
.dashboard .SignupCallOut { margin-bottom: 10px; }
.module { background-clip: padding-box; border: 0px none; border-radius: 6px 6px 6px 6px; line-height: 16px; position: relative; margin-bottom: 10px; }
.search-header a { padding-right: 4px; }
.search-header .btn-group .dropdown-caret { right: 13px; }
.module .flex-module { background-color: rgb(255, 255, 255); border: 1px solid rgb(225, 232, 237); padding: 15px; line-height: 16px; }
.flex-module-header { margin-bottom: 10px; }
.flex-module-header h3 { display: inline; }
.flex-module-header small { line-height: 1; }
.flex-module-inner, .flex-module-footer { color: rgb(136, 153, 166); font-size: 12px; }
.flex-module-footer { margin-top: 10px; }
.flex-module-inner ul, .flex-module-inner ol { color: rgb(41, 47, 51); }
.module .list-link { background-color: rgb(255, 255, 255); color: rgb(102, 117, 127); border-right: 1px solid rgb(225, 232, 237); border-width: 0px 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(225, 232, 237) rgb(225, 232, 237); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; }
.module li:first-child .list-link { border-top: 1px solid rgb(225, 232, 237); }
.module ul:first-child li:first-child .list-link, .module .flex-module:first-child, .module .contrast-flex-module:first-child { border-top-left-radius: 5px; border-top-right-radius: 5px; }
.module ul:last-child li:last-child .list-link, .module ul:last-child li.last-item .list-link, .module .list-link.last, .module .flex-module:last-child, .module .contrast-flex-module:last-child { border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; }
.module .list-link { position: relative; display: block; padding: 8px 12px; }
.module .list-link:hover, .module .active .list-link { background-color: rgb(255, 255, 255); color: rgb(41, 47, 51); text-decoration: none; }
.module .active .list-link { color: rgb(41, 47, 51); }
.module .list-link:hover { background-color: rgb(245, 248, 250); }
.module .list-link:focus, .module .active .list-link:focus { font-weight: bold; }
.module .active .list-link { font-weight: bold; }
.content-header, .content-no-header { border-width: 1px 1px 0px; border-style: solid; border-color: rgb(225, 232, 237); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; border-radius: 6px 6px 0px 0px; background-clip: padding-box; }
.content-header { border-bottom-width: 0px; }
.content-header .header-inner, .content-no-header .no-header-inner { min-height: 20px; padding: 12px; background-color: rgb(255, 255, 255); border-bottom: 1px solid rgb(225, 232, 237); border-radius: 5px 5px 0px 0px; }
.view-toggler a, .view-toggler { font-weight: normal; line-height: 1; }
.view-toggler .active { color: rgb(41, 47, 51); font-weight: bold; text-decoration: none; cursor: text; }
.topbar { border-bottom: 1px solid rgba(0, 0, 0, 0.05); position: fixed; top: 0px; right: 0px; left: 0px; z-index: 1000; }
.global-nav, .global-nav-outer { height: 40px; }
.global-nav { border-bottom: 1px solid rgba(0, 0, 0, 0.15); height: 46px; position: relative; width: 100%; }
.global-nav-inner { background: none repeat scroll 0% 0% rgb(255, 255, 255); height: 46px; }
.global-nav .container { max-width: 890px; text-align: center; width: auto; }
@media screen and (min-width: 1236px) {
	.global-nav .container { max-width: 1190px; }
}
@media screen and (max-width: 936px) {
	.global-nav .t1-form.form-search { width: 139px; }
	.global-nav .container { width: auto; min-width: 520px; }
}
@media screen and (max-width: 700px) {
	.global-nav .t1-form.form-search { width: 89px; }
}
@media screen and (max-width: 1190px) {
	.global-nav .container { min-width: 590px; }
}
@media screen and (max-width: 938px) {
	.global-nav .container { padding: 0px; }
}
.global-nav [role="navigation"], .nav, .nav > li { float: left; }
.nav { margin-right: 12px; text-align: left; }
.nav li { position: relative; }
.nav > li { color: rgb(102, 117, 127); }
.nav > li .Icon { float: left; margin: 11px 0px 0px 10px; width: 23px; height: 23px; }
.nav li a { position: relative; font-size: 12px; }
.nav > li > a, .nav > li > button { color: inherit; display: block; font-size: 13px; font-weight: 500; height: 46px; line-height: 1; padding: 0px 14px 0px 4px; }
.nav .active > a, .nav > li > a:hover { color: inherit; text-decoration: none; }
.nav > li > a:focus { color: inherit; text-decoration: underline; }
.nav small { font-weight: normal; }
.nav > li > .nav-logo-link { padding: 10px 14px 18px; }
.pull-right { float: right; text-align: left; }
.global-nav .pull-right .nav { position: relative; z-index: 5; margin: 0px -12px; }
.global-nav .pull-right .dropdown-toggle { overflow: hidden; padding: 0px; }
.global-nav .pull-right .secondary-nav { margin-left: 6px; margin-right: 0px; }
.global-nav [role="search"] { float: left; }
.global-nav .form-search { float: left; height: 33px; margin: 7px 15px 0px 0px; font-size: 12px; width: 221px; }
.global-nav .search-icon { position: absolute; top: 4px; right: -3px; display: block; width: 26px; height: 26px; cursor: pointer; }
.global-nav .search-icon .Icon { color: rgb(255, 255, 255); font-size: 13px; height: auto; margin: 3px 0px 0px; padding: 0px; width: auto; }
.global-nav .nav-search { margin-top: 3px; margin-left: 7px; background-color: transparent; }
.global-nav .search-input { display: block; -moz-box-sizing: border-box; width: 100%; height: 32px; padding: 5px 27px 6px 12px; font-size: 12px; line-height: 1; color: rgb(102, 117, 127); background-color: rgb(204, 214, 221); border: 0px none; border-radius: 21px 21px 21px 21px; }
.global-nav .search-input:-moz-placeholder { color: rgb(255, 255, 255); }
.global-nav .search-input:focus:-moz-placeholder { color: rgb(204, 214, 221); }
.global-nav .search-input:focus, .global-nav .search-input.focus { color: rgb(102, 117, 127); text-shadow: none; background-color: rgb(255, 255, 255); box-shadow: none; }
.global-nav .form-search .search-input { position: absolute; top: 0px; right: 0px; z-index: 2; color: rgb(255, 255, 255); background-color: transparent; background-image: url('undefined'); opacity: 0.6; }
.global-nav .form-search .search-hinting-input { background-color: rgb(102, 117, 127); position: absolute; right: 0px; z-index: 1; color: rgb(136, 153, 166); }
.global-nav .form-search .search-icon { z-index: 3; }
.form-search { position: relative; }
.typeahead { -moz-box-sizing: border-box; width: 100%; right: auto; left: 0px; display: none; margin-top: -3px; padding: 5px 0px; border-radius: 0px 0px 4px 4px; }
.typeahead .dropdown-caret { display: none; left: 16px; }
.form-search .dropdown-caret { display: block; }
.form-search .typeahead { width: 316px; margin-top: 9px; border-radius: 4px 4px 4px 4px; }
.typeahead-items { width: 100%; margin: 0px; overflow: hidden; }
.typeahead-items li { width: 100%; white-space: nowrap; float: left; clear: left; }
.typeahead-items li > a { display: block; padding: 7px 15px 7px 10px; overflow: hidden; color: rgb(102, 117, 127); text-overflow: ellipsis; white-space: nowrap; font-size: 14px; line-height: 24px; }
.typeahead a, .typeahead .fullname { color: rgb(41, 47, 51); }
.typeahead .username, .typeahead-social-context { color: rgb(136, 153, 166); }
.typeahead .username s { color: rgb(204, 214, 221); }
.typeahead .selected a, .typeahead .selected strong, .typeahead .selected .fullname, .typeahead .selected .username, .typeahead .selected .typeahead-social-context, .typeahead a:hover, .typeahead a:hover strong, .typeahead a:hover .fullname, .typeahead a:hover .username, .typeahead a:hover .typeahead-social-context { color: rgb(255, 255, 255); }
.typeahead .avatar { float: left; margin-right: 6px; }
.typeahead-accounts li > a { line-height: 24px; }
.typeahead .typeahead-user-item-info { display: block; overflow: hidden; text-overflow: ellipsis; }
.typeahead-item:hover .typeahead-user-item-info .fullname { color: inherit; }
.typeahead .typeahead-user-item-info .Icon--verified { position: relative; top: 2px; }
.typeahead-recent-search-item .close, .typeahead-saved-search-item .close { float: right; margin: 13px; cursor: pointer; height: 12px; width: 12px; }
.typeahead-recent-search-item .close:hover, .typeahead-saved-search-item .close:hover { background-position: -120px -510px; }
li.typeahead-recent-search-item > a, li.typeahead-saved-search-item > a { clear: none; }
.typeahead-category-title { font-size: 14px; font-weight: bold; height: 24px; padding-top: 10px; padding-left: 10px; }
.saved-searches-title { display: none; }
.typeahead-saved-search-item span, .typeahead-recent-search-item span { margin-left: 0px; }
.typeahead a, .typeahead .fullname { color: rgb(41, 47, 51); }
.session .dropdown-menu, .global-nav .pull-right .dropdown-menu, .global-nav .secondary-nav .dropdown-menu { right: 0px; }
.hidden { display: none; }
.visuallyhidden { border: 0px none; clip: rect(0px, 0px, 0px, 0px); height: 1px; margin: -1px; overflow: hidden; padding: 0px; position: absolute; width: 1px; }
.clearfix:before, .clearfix:after, .control-group:before, .control-group:after, .stream-item > div:before, .stream-item > div:after, .module:after, .module:before, .follow-card header:after, .follow-card header:before, .follow-bar:after, .follow-bar:before, .search-header:after, .search-header:before, .tweet-form:after, .tweet-form:before, .modal-footer:after, .modal-footer:before, .local-trends-breadcrumb:after, .local-trends-breadcrumb:before, .input-prepend .add-on, .input-append .add-on, .wrapper:after, .wrapper:before, .expanded-content:before, .expanded-content:after, .stream-item:before, .stream-item:after { content: " "; display: table; }
.clearfix:after, .control-group:after, .stream-item > div:after, .module:after, .follow-card header:after, .follow-bar:after, .search-header:after, .tweet-form:after, .modal-footer:after, .local-trends-breadcrumb:after, .wrapper:after, .expanded-content:after, .stream-item:after { clear: both; }
.trends ul { margin-top: -4px; }
.avatar { width: 48px; height: 48px; border-radius: 5px 5px 5px 5px; -moz-force-broken-image-icon: 1; }
.size24 { width: 24px; height: 24px; border-radius: 3px 3px 3px 3px; }
s { text-decoration: none; }
b { font-weight: normal; }
.fullname { font-weight: bold; color: rgb(41, 47, 51); }
.username, .time, .time a, .metadata, .metadata button.btn-link, .metadata a { font-size: 13px; color: rgb(136, 153, 166); }
.username s, .account-group-inner s { color: rgb(177, 187, 195); }
.dismiss { float: right; width: 10px; height: 10px; margin-top: 5px; cursor: pointer; }
.flex-table-btn { float: right; width: auto; white-space: nowrap; }
.alert-messages { position: fixed; top: 46px; left: 0px; right: 0px; z-index: 999; }
.message { position: relative; width: 600px; padding: 20px; margin: 0px auto; background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.97); border-radius: 0px 0px 6px 6px; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25); }
.message .message-text { display: block; margin-right: 20px; color: rgba(102, 117, 127, 0.6); font-size: 14px; line-height: 16px; text-align: center; }
.message .close, .message .dismiss { position: absolute; top: 7px; }
.message .close:hover, .message .dismiss:hover { opacity: 1; }
.message .dismiss { font-size: 12px; font-weight: bold; margin-top: 0px; text-decoration: none; }
.message .close, .message .dismiss { color: rgb(102, 117, 127); opacity: 0.6; right: 12px; }
.wtf-module { display: none; }
.modal { position: relative; top: 160px; width: 520px; margin: 0px; padding-bottom: 30px; z-index: 6000; }
.stream, .stream-container, .stream-items { position: relative; margin-left: 0px; list-style: none outside none; }
.stream-item, .unfocusable-stream-item { background: none repeat scroll 0% 0% padding-box rgb(255, 255, 255); border-left: 1px solid rgb(225, 232, 237); border-right: 1px solid rgb(225, 232, 237); }
.before-module:not(.separation-module), .before-module .tweet { border-bottom: 1px solid rgba(0, 0, 0, 0.1); border-radius: 0px 0px 6px 6px; }
.stream-items > .before-expanded.selected-stream-item:focus, .stream-items > .before-module.selected-stream-item:focus:not(.separation-module) { border-color: rgb(255, 255, 255); margin-bottom: 0px; }
.after-expanded:not(.separation-module), .after-expanded .tweet:hover, .after-expanded .tweet.focus { border-radius: 6px 6px 0px 0px; }
.stream-end-item, .stream-end, .stream-loading, .stream-placeholder { border-right: 1px solid rgb(225, 232, 237); border-width: 0px 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(225, 232, 237) rgb(225, 232, 237); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; border-radius: 0px 0px 6px 6px; }
.stream-end, .stream-loading, .stream-placeholder, .content-placeholder, .back-to-top, .btn-link.back-to-top { font-size: 13px; color: rgb(136, 153, 166); text-align: center; }
.stream-end-inner { padding: 15px 50px; background-color: rgb(255, 255, 255); border-radius: 0px 0px 5px 5px; }
.stream-end p, .stream-placeholder p { margin-top: 5px; }
.stream-end, .stream-loading, .stream-whale-end { margin-bottom: 14px; }
.stream-fail-container { display: none; }
.stream-placeholder h2, .content-placeholder h2 { font-weight: normal; }
.content-placeholder .title { margin-bottom: 9px; font-size: 24px; line-height: 30px; }
.content-placeholder p { color: rgb(102, 117, 127); }
.content-placeholder p, .content-placeholder .btn { font-size: 14px; line-height: 20px; }
.content-placeholder .form-inline, .content-placeholder .placeholder-actions { margin-top: 15px; margin-bottom: 15px; }
.username { direction: ltr; unicode-bidi: embed; }
.spinner { display: block; width: 32px; height: 32px; margin: 0px auto; background: url('spinner-rosetta-gray-32x32.gif') no-repeat scroll 0px 0px transparent; }
.spinner-bigger { display: inline-block; background: url('spinner-rosetta-gray-32x32.gif') no-repeat scroll 0px 0px transparent; height: 32px; width: 32px; }
.timeline-end .stream-loading { display: none; }
@media not all, screen and (min-resolution: 192dpi) {
	.stream-item, .unfocusable-stream-item { background-clip: border-box; }
}
.stream-items > .stream-item.open:not(:first-child) .first-navigable-stream-item.selected-stream-item:focus, .after-expanded .first-navigable-stream-item.selected-stream-item:focus { border-radius: 6px 6px 0px 0px; }
.stream-items > .stream-item.open:not(:last-child) .last-navigable-stream-item.selected-stream-item:focus, .before-expanded .last-navigable-stream-item.selected-stream-item:focus, .open .conversation-module > .selected-stream-item:last-child:focus { border-radius: 0px 0px 6px 6px; }
.open .tweet:not(.opened-tweet) .expanded-content { display: none; }
#banners { width: auto; }
.modal-container, .modal-overlay, .UserCompletion, .lihp-mobile-callout, .PermalinkOverlay, .Gallery, .gallery-overlay { display: none; }
.modal .modal-tweet { padding: 0px; text-align: left; background-color: rgb(255, 255, 255); }
.currently-dragging.modal-enabled .modal .tweet-box, .currently-dragging:not(.modal-enabled) .tweet-content .tweet-box, body.supports-drag-and-drop .tweet-form.upload-photo-hover.drag-and-drop .tweet-box { border: 3px dashed rgb(81, 179, 241); width: auto; margin-bottom: -2px; padding-left: 6px; padding-top: 6px; overflow: hidden; color: rgb(238, 238, 238); }
.currently-dragging.modal-enabled .modal .tweet-box, .currently-dragging:not(.modal-enabled) .tweet-content .tweet-box { box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 15px rgba(81, 179, 241, 0.9); }
.currently-dragging:not(.modal-enabled) .dashboard .tweet-content .tweet-box, body.supports-drag-and-drop .dashboard .tweet-form.upload-photo-hover.drag-and-drop .tweet-box { padding-top: 4px; }
.currently-dragging.modal-enabled .modal .tweet-form .thumbnail-container, .currently-dragging:not(.modal-enabled) .tweet-form .thumbnail-container, body.supports-drag-and-drop .tweet-form.upload-photo-hover.drag-and-drop .thumbnail-container { bottom: 3px; left: 3px; right: 3px; width: auto; }
.currently-dragging.modal-enabled .modal .add-photo-icon, .currently-dragging:not(.modal-enabled) .tweet-content .add-photo-icon { display: block; }
.currently-dragging.modal-enabled .modal .tweet-drag-photo-here, .currently-dragging:not(.modal-enabled) .tweet-form:not(.condensed) .tweet-drag-photo-here { display: block; }
.photo-selector:hover:not(.disabled) .btn { border-color: rgb(0, 132, 180); color: rgb(0, 132, 180); }
.photo-selector:hover:not(.disabled) .btn { background-color: rgba(255, 255, 255, 0.25); }
.tweet-post-iframe, .dm-post-iframe { display: none; }
#geo-disabled-dropdown, #geo-enabled-dropdown { display: none; }
.geo-not-enabled-yet { margin: 8px 14px 10px; }
.geo-not-enabled-yet h2 { margin-bottom: 5px; font-size: 16px; }
.geo-not-enabled-yet p, .modal-body .geo-not-enabled-yet p { margin-bottom: 10px; line-height: 16px; font-size: 13px; color: rgb(51, 51, 51); }
.geo-not-enabled-yet .geo-not-now { margin-left: 8px; font-size: 13px; }
.geo-query-location { position: relative; padding: 5px; margin: -4px 0px 6px; background-color: rgb(245, 248, 250); background-repeat: repeat-x; border-bottom: 1px solid rgb(225, 232, 237); border-radius: 4px 4px 0px 0px; }
.geo-query-location input { width: 280px; padding-left: 24px; }
.geo-query-location .generic-search { position: absolute; top: 12px; left: 13px; }
.typeahead-empty-suggestions { padding: 1px 10px 10px; color: rgb(102, 117, 127); font-weight: bold; font-size: 12px; }
.home-exp-tweetbox .tweet-form:not(.condensed) .tweet-box { height: 60px; }
.home-exp-tweetbox .home-tweet-box .tweet-form:not(.condensed) .tweet-box { height: 77px; }
.t1-form { font-size: 12px; margin-bottom: 0px; }
.t1-legend { display: block; width: 100%; margin-bottom: 20px; font-size: 20px; line-height: 30px; color: rgb(41, 47, 51); border-bottom: 1px solid rgb(225, 232, 237); }
.t1-label, input, textarea, div[contenteditable="true"], .t1-select { margin: 0px; font-size: 13px; line-height: 20px; }
.t1-label { display: block; margin-bottom: 5px; color: rgb(41, 47, 51); cursor: pointer; }
input, textarea, div[contenteditable="true"], .t1-select { display: inline-block; width: 210px; padding: 4px; margin: 0px; outline: 0px none; background-color: rgb(255, 255, 255); border: 1px solid rgb(225, 232, 237); border-radius: 3px 3px 3px 3px; }
input[type="checkbox"], input[type="radio"] { width: auto; height: auto; padding: 0px; margin: 3px 0px; line-height: normal; border: 0px none; background-color: transparent; cursor: pointer; }
input[type="button"], input[type="reset"], input[type="submit"] { width: auto; height: auto; }
textarea { height: auto; }
.radio, .checkbox { margin: 5px 0px; padding-left: 18px; line-height: 18px; }
input, textarea, div[contenteditable="true"] {  }
input:focus, textarea:focus, div[contenteditable="true"]:focus, div.fake-focus[contenteditable="true"] { outline: 0px none; color: rgb(41, 47, 51); border-color: rgb(86, 180, 239); }
input[type="file"]:focus, input[type="checkbox"]:focus, input[type="radio"]:focus, .t1-select:focus { outline: 1px dotted rgb(102, 117, 127); box-shadow: none; }
.disabled, .disabled:hover, .disabled:focus, .disabled:active, input[disabled], .t1-select[disabled], textarea[disabled], input[readonly], .t1-select[readonly], textarea[readonly], div[contenteditable="true"][readonly] { background: none repeat scroll 0% 0% rgb(245, 248, 250); border-color: rgb(204, 214, 221); cursor: not-allowed; }
.input-block { display: block; width: 100%; padding: 7px 9px; margin-bottom: 5px; font-size: 14px; -moz-box-sizing: border-box; }
.help-text { color: rgb(136, 153, 166); }
input:-moz-placeholder, textarea:-moz-placeholder { color: rgb(136, 153, 166); opacity: 1; }
input:focus:-moz-placeholder, textarea:focus:-moz-placeholder { opacity: 0.6; }
.Footer ul { line-height: 18px; }
.Footer-item { display: inline; }
.Footer-item, .Footer-link { color: rgb(136, 153, 166); }
.Footer-item { float: left; padding-right: 8px; }
.Footer:hover .Footer-link, .Footer-link:focus { color: rgb(136, 153, 166); }
.Button::-moz-focus-inner { border: 0px none; padding: 0px; }
.stream-container .tweet:hover .tweet-actions-sidebar a:not(:hover):not(.cannot-retweet), .stream-container .tweet:hover .tweet-actions-sidebar a:not(:hover) .tweet-action-count { color: rgb(136, 153, 166); }
.stream-container .tweet.gotham:not(.descendant) { padding-top: 6px; padding-left: 10px; }
#discover-stories .stream-container .tweet.gotham:not(.descendant) { padding-top: 10px; }
.stream-container .tweet.gotham:not(.descendant) .stream-item-header .avatar { margin-left: -57px; }
.stream-container .tweet.gotham:not(.descendant) > .context, .stream-container .tweet.gotham:not(.descendant) > .content { margin-left: 57px; }
.stream-container .tweet.gotham.avatar-small:not(.descendant) > .context, .stream-container .tweet.gotham.avatar-small:not(.descendant) > .content { margin-left: 47px; }
.stream-container .tweet.gotham:not(.descendant) .stream-item-header .avatar { margin-top: 0px; }
.stream-container .tweet.gotham.avatar-small:not(.descendant) .stream-item-header .avatar { width: 38px; height: 38px; border-radius: 4px 4px 4px 4px; margin-left: -47px; margin-top: 0px; }
@media screen and (min-width: 1236px) {
}
.AppContent { padding: 56px 14px 15px; position: relative; }
body { font-family: "Gotham Narrow SSm",sans-serif,Arial; text-rendering: optimizelegibility; }
body.ms-windows { font-family: "Gotham Narrow SSm",sans-serif; }
.stream-item, .profile-modal .tweet, .GalleryTweet, .modal-tweet { font-family: "Helvetica Neue",Arial,sans-serif; }
body.ms-windows .stream-item, body.ms-windows .profile-modal .tweet, body.ms-windows .GalleryTweet { font-family: Arial,sans-serif; }
/* ::::: https://abs.twimg.com/a/1408666496/css/t1/twitter_logged_out.bundle.css ::::: */

.login-responsive .nav .dropdown-signin, .nav li .dropdown-signup { display: none; }
.language-dropdown, .country-dropdown { display: none; }
.session-dropdown { display: block; }
.country-dropdown .dropdown-menu, .language-dropdown .dropdown-menu { width: 375px; position: absolute; right: 0px; }
.country-dropdown .dropdown-menu li, .language-dropdown .dropdown-menu li { width: 125px; float: left; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.language-dropdown .dropdown-menu { width: 250px; }
.language-dropdown .dropdown-menu li { width: 50%; }
.dropdown-form { padding: 15px; left: auto; right: 0px; }
.dropdown-form label { color: rgb(41, 47, 51); }
.dropdown-form .remember { float: right; line-height: 25px; cursor: pointer; }
.dropdown-form .divider { margin: 15px -15px; }
.dropdown-form p a { display: inline; }
.signin fieldset, .resend-password fieldset { margin-bottom: 16px; }
.signin .password, .signin .username { width: 150px; font-size: 13px; }
.signin .subchck { display: inline-block; margin-bottom: 0px; }
.signin .remember { margin-left: 12px; text-align: left; color: rgb(41, 47, 51); line-height: 30px; }
.dropdown-menu, .dropdown-menu .signin label { width: auto; }
.dropdown-menu .signin { width: 240px; padding: 0px; }
.dropdown-menu .signin p a { padding: 0px; }
.dropdown-menu .password { padding-top: 10px; }
.dropdown-menu .remember { margin: 0px; color: rgb(136, 153, 166); }
.dropdown-menu .subchck { display: block; }
.dropdown-menu input[type="text"], .dropdown-menu input[type="password"] { width: 230px; }
#sms-codes-dialog #sms_codes { width: 100%; }
#sms-codes-dialog #sms_codes th { font-weight: bold; text-align: left; }
#sms-codes-dialog #sms_codes tfoot td { padding-top: 1em; }
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 520px) {
	.message { width: 92%; }
}
.logged-out .topbar { box-shadow: none; }
.logged-out .nav > li > a { color: inherit; text-shadow: none; }
.logged-out .nav > li > a:hover { color: inherit; }
.logged-out .home { color: rgb(85, 172, 238); }
.logged-out .nav > li > .nav-logo-link { display: block; font-size: 24px; height: 46px; padding: 0px 20px; }
.logged-out .pull-right { margin: 16px 30px 0px 0px; }
.logged-out .global-nav .pull-right .dropdown-toggle { height: auto; padding-bottom: 5px; }
.logged-out .global-nav .pull-right .dropdown-toggle .caret { margin-top: 0px; vertical-align: middle; }
.logged-out .pull-right .open.dropdown .caret, .logged-out .pull-right .dropdown-toggle:hover .caret { border-top-color: rgb(102, 117, 127); }
.logged-out .global-nav .form-search { margin-top: -9px; text-align: left; }
@media screen and (max-width: 1236px) {
}
@media screen and (max-width: 895px) {
}
@media screen and (max-width: 700px) {
}
.SignupCallOut { background-color: rgb(136, 153, 166) ! important; border: 1px solid rgb(225, 232, 237); border-radius: 6px 6px 6px 6px; padding: 15px; }
.SignupCallOut-title { color: rgb(255, 255, 255); font-size: 22px; font-weight: 300; line-height: 26px; margin-bottom: 5px; }
.SignupCallOut-title b { font-weight: 700; }
.SignupDialog .SignupDialog-body { padding: 30px; }
.SignupDialog-bird { color: rgb(85, 172, 238); }
.SignupDialog-heading { color: rgb(102, 117, 127); font-size: 22px; font-weight: 300; line-height: 26px; margin: 20px 0px; }
.SignupDialog-form { width: 260px; margin: 0px auto; }
.SignupDialog .SignupDialog-footer { border-color: rgb(225, 232, 237); color: rgb(136, 153, 166); font-size: 14px; font-weight: 400; line-height: 1; }
.SignupDialog-signinLink { color: rgb(59, 148, 217); }
.SignupForm input { width: 100%; -moz-box-sizing: border-box; margin-top: 10px; }
.SignupForm input:focus { border-color: rgb(85, 172, 238); box-shadow: none; }
.SignupForm .primary-btn:focus { border-color: rgb(255, 255, 255); }
/* ::::: https://abs.twimg.com/a/1408666496/css/t1/twitter_more_1.bundle.css ::::: */

#archive-drilldown .time-ranges > a:nth-child(2n) .date-container { visibility: hidden; }
.search-header { text-align: center; }
.search-header .search-title { font-weight: normal; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; padding-bottom: 5px; margin-left: 75px; margin-right: 75px; }
.search-title .search-query { white-space: nowrap; }
.embed-search { float: left; }
.search-header .embed-search .Icon--dots { width: auto; }
.search-header-toggle { text-align: center; }
.search-navigation .search-navigation-title { padding-left: 20px; }
.search-navigation.active .search-navigation-title { padding-left: 0px; }
.list-editor hr { display: none; }
.list-editor .help-text { display: block; font-size: 11px; color: rgb(136, 153, 166); margin-left: 120px; }
.list-editor .field { clear: both; display: block; margin: 0px 0px 15px; }
.list-editor label { float: left; text-align: right; width: 105px; padding-right: 15px; margin-bottom: 15px; }
.list-editor input.text, .list-editor textarea { width: 290px; }
.list-editor textarea { resize: none; height: 36px; }
.list-editor .options { float: left; width: 290px; }
.list-editor .options label, .list-editor .options input { float: none; text-align: left; display: inline-block; width: auto; margin-bottom: 5px; font-size: 12px; color: rgb(136, 153, 166); }
.list-editor .options input { margin: 0px; }
.list-editor .options label b { color: rgb(41, 47, 51); }
.list-editor .list-editor-save { margin: 15px 0px 0px 120px; clear: both; }
.embed-code-container .embed-destination-wrapper { position: relative; }
.embed-code-container .embed-overlay { display: none; width: 100%; text-align: center; }
.embed-code-container .embed-overlay-spinner { position: absolute; top: 0px; left: 0px; z-index: 3; }
.embed-code-container .embed-overlay-content { display: inline-block; }
.embed-code-container .embed-overlay-spinner .embed-overlay-content { background: url('spinner-rosetta-gray-14x14.gif') no-repeat scroll 0px 0px transparent; margin-top: 20px; width: 14px; height: 14px; }
.embed-code-container .embed-overlay-error .embed-overlay-content { width: 100%; margin: 0px; padding: 17px 9px 18px; color: rgb(102, 117, 127); font-size: 12px; background-color: rgb(249, 249, 249); border: 1px solid rgb(204, 214, 221); -moz-box-sizing: border-box; border-radius: 0px 3px 3px 3px; }
.embed-code-container textarea { width: 100%; padding: 7px 9px; font-size: 14px; color: rgb(102, 117, 127); line-height: 21px; overflow: hidden; height: 55px; display: block; white-space: nowrap; border: 1px solid rgb(204, 214, 221); position: relative; z-index: 2; resize: none; -moz-box-sizing: border-box; border-radius: 0px 3px 3px 3px; }
.embed-code-container textarea:focus { border-color: rgb(86, 180, 239); }
.embed-code-container p { font-size: 12px; margin-top: -10px; }
.embed-code-container p a, .embed-code-container p a:hover { color: rgb(136, 153, 166); }
.embed-options { margin-top: 8px; }
.embed-preview h3 { font-weight: bold; margin-bottom: 5px; }
.modal-body .embed-code-container p { font-size: 12px; }
.modal-body .embed-code-container form p { color: rgb(136, 153, 166); }
.embed-code-container .embed-preview { margin-top: 15px; }
.modal-container { display: none; position: fixed; overflow-y: auto; overflow-x: hidden; top: 0px; right: 0px; bottom: 0px; left: 0px; z-index: 5000; }
.modal-overlay, .profile-header-mask, .grid-overlay, .gallery-overlay { display: none; position: fixed; top: 0px; right: 0px; bottom: 0px; left: 0px; z-index: 4000; background: none repeat scroll 0% 0% rgba(41, 47, 51, 0.9); }
.gallery-overlay { z-index: 2000; background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.8); }
.close-modal-background-target, .grid-close-target, .Gallery-closeTarget { position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; }
.modal-content { position: relative; background-color: rgb(255, 255, 255); border-radius: 6px 6px 6px 6px; background-clip: padding-box; box-shadow: 0px 4px 15px rgba(32, 47, 51, 0.2); }
.modal-header, .modal-footer, .modal-body { padding: 15px; }
.modal-header { background: none repeat scroll 0% 0% rgb(255, 255, 255); border-bottom: 1px solid rgb(225, 232, 237); border-radius: 6px 6px 0px 0px; cursor: move; padding-top: 8px; padding-bottom: 8px; }
.modal-header .modal-title { width: 75%; margin: 0px auto; overflow: hidden; font-size: 16px; font-weight: normal; line-height: 22px; color: rgb(136, 153, 166); text-align: center; text-overflow: ellipsis; white-space: nowrap; }
.modal-btn { background-color: transparent; cursor: pointer; }
.modal-btn:hover { background-color: transparent; }
.modal-close { height: 20px; padding: 0px; position: absolute; right: 10px; top: 9px; width: 20px; }
.modal-close .Icon--close { color: rgb(136, 153, 166); font-size: 12px; }
.modal-footer { text-align: right; border-top: 1px solid rgb(225, 232, 237); }
.modal-small { width: 370px; }
.modal-small .modal-title { width: 75%; }
.modal-medium { width: 500px; }
.modal-large { width: 600px; }
.modal-body p { margin-bottom: 9px; font-size: 14px; color: rgb(41, 47, 51); }
.modal-container.has-content .loading, .modal-container .tweet-loading { display: none; }
.modal-container .loading, .modal-container .error { text-align: center; margin: 50px 0px; }
#activity-popup-dialog .modal-content { background: none repeat scroll 0% 0% rgb(235, 240, 243); overflow: visible; }
#activity-popup-dialog .modal-body { padding: 0px; margin-bottom: 6px; }
#activity-popup-dialog .modal { width: 520px; overflow: visible; }
#activity-popup-dialog .modal-header { background: none repeat scroll 0% 0% rgb(255, 255, 255); }
#goto-user-dialog .goto-user-form { position: relative; }
#goto-user-dialog input { width: 100%; -moz-box-sizing: border-box; }
.trends-dialog .content-placeholder { padding: 20px 35px; }
.trends-dialog .content-placeholder p { color: rgb(102, 117, 127); }
.trends-dialog-error { display: none; text-align: center; padding: 50px 0px; }
.trends-dialog-error p { color: rgb(136, 153, 166); }
.modal-footer .select-default, .twttr-dialog-footer .select-default { float: left; margin-left: 0px; }
#trends_dialog_content { position: relative; }
#spoonbill-outer { position: fixed; right: 0px; bottom: 0px; margin: 22px; z-index: 10; }
#leadgen-confirm-dialog iframe { width: 100%; height: 250px; overflow: hidden; border: 0px none; }
.Gallery { display: none; position: fixed; overflow-y: auto; overflow-x: hidden; top: 0px; right: 0px; bottom: 0px; left: 0px; z-index: 3000; text-align: center; }
.Gallery:before { content: ""; height: 100%; display: inline-block; vertical-align: middle; }
.Gallery-content { position: relative; display: inline-block; vertical-align: middle; min-width: 520px; min-height: 338px; background-color: rgb(255, 255, 255); border-radius: 7px 7px 7px 7px; }
.Gallery .modal-close { right: -30px; padding: 0px; height: auto; }
.Gallery .modal-close .Icon--close { color: white; font-size: 21px; }
.Gallery-media { position: relative; text-align: center; background: none repeat scroll 0% 0% black; overflow: hidden; border-radius: 6px 6px 0px 0px; }
.Gallery-content:hover .GalleryNav-handle--prev, .Gallery-content:focus .GalleryNav-handle--prev, .Gallery-content.show-controls .GalleryNav-handle--prev, .Gallery-content:hover .GalleryNav-handle--next, .Gallery-content:focus .GalleryNav-handle--next, .Gallery-content.show-controls .GalleryNav-handle--next { opacity: 0.3; -moz-user-select: none; }
.GalleryNav { position: absolute; z-index: 1; top: 0px; height: 100%; }
.GalleryNav--prev { left: 0px; width: 33%; }
.GalleryNav--next { right: 0px; width: 67%; }
.GalleryNav-handle { position: absolute; top: 35%; width: 50px; height: 200px; margin-top: -17px; display: block; opacity: 0; color: white; background: none repeat scroll 0px center transparent; line-height: 200px; }
.GalleryNav-handle--prev { left: -50px; }
.GalleryNav-handle--next { right: -50px; }
.GalleryTweet { position: relative; z-index: 2; bottom: 0px; color: rgb(41, 47, 51); width: 100%; margin: 0px; background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 0px none; border-radius: 0px 0px 6px 6px; }
.GalleryTweet a.with-icn:not(:hover) .Icon, .GalleryTweet .account-group .fullname, .GalleryTweet .account-group:hover .fullname, .GalleryTweet .tweet-actions > li:not(:hover) b { color: rgb(41, 47, 51); }
.ProfileAlerts .signup input, .ProfileAlerts .signinfrm input:not([type="checkbox"]) { padding: 9px 10px; margin: 10px 0px; color: rgb(136, 153, 166); font-size: 15px; width: 100%; border-radius: 4px 4px 4px 4px; display: inline; max-width: 427px; box-shadow: 0px 1px 0px rgb(238, 238, 238) inset, 0px 1px 0px rgb(255, 255, 255); }
@media all and (max-width: 1015px) {
	.ProfileAlerts .signup input, .ProfileAlerts .signinfrm input:not([type="checkbox"]), .ProfileAlerts .alerts-signup .password, .ProfileAlerts .alerts-signup .email { max-width: 356px; }
}
@media all and (max-width: 880px) {
}
@media all and (max-width: 560px) {
	.ProfileAlerts .signup input, .ProfileAlerts .signinfrm input:not([type="checkbox"]), .ProfileAlerts .alerts-signup .password, .ProfileAlerts .alerts-signup .email { max-width: 298px; }
}
@media all and (max-width: 325px) {
}
/* ::::: https://abs.twimg.com/a/1408666496/css/t1/twitter_more_2.bundle.css ::::: */

.StartCongratulations-image:nth-child(1) {  }
.StartCongratulations-image:nth-child(2) {  }
.StartCongratulations-image:nth-child(3) {  }
.StartCongratulations-image:nth-child(4) {  }
@media not all {
}
body:not(.ie8) .FollowPopover-arrow { position: absolute; border-color: rgb(225, 232, 237); border-style: solid; border-width: 1px 0px 0px 1px; width: 15px; height: 15px; top: 15px; left: -8px; background-color: rgb(255, 255, 255); display: block; }
.ProfilePopupContainer--bellbird .modal { width: 590px; }
.ProfilePopupContainer--bellbird .modal-body { padding: 0px; }
.ExplorePage-header h1 a, .ExplorePage-filters :not(.active) a, .ExplorePage-header + .ExplorePage-subTopics li a { color: rgb(136, 153, 166); }
/* ::::: https://abs.twimg.com/font/gotham-narrow-v3.css ::::: */

@font-face {
	font-family: "Gotham Narrow SSm";
	font-style: normal;
	font-weight: normal;
	src: url('undefined');
}
@font-face {
	font-family: "Gotham Narrow SSm";
	font-style: normal;
	font-weight: 500;
	src: url('undefined');
}
@font-face {
	font-family: "Gotham Narrow SSm";
	font-style: normal;
	font-weight: bold;
	src: url('undefined');
}
